//font
// $main-font-size: 24px;
// $sub-font-size: 20px;

// header
$header-bg : rgba(0, 0, 0, 0.8);
$link-color: #FFFFFF;
$hamburger-color: #FFFFFF;
$link-hover-color: orange;

$title-color: orange;

//skill
$skill-border: #dbdbdb;
//project
$project-bg: rgba(0, 0, 0, 0.5);

$footer-bg : rgba(0, 0, 0, 0.8);
$footer-clolor: #fff;



